In [1]:
import pandas as pd

In [2]:
# intialise data of lists.
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)

In [3]:
df

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18